<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wxqts.platform.dao.SuccDao">
	<select id="query" parameterType="java.lang.String" resultType="com.wxqts.platform.bean.GsjCodeBean">
		select MC,SHXYDM,ZCH from GSJ_CODE  where MC like CONCAT(CONCAT('%',#{unitName}),'%')  or SHXYDM = #{unitName} or ZCH = #{unitName}  
	</select>
</mapper>